* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "norsebold";
  src: url("/fonts/norse-bold-webfont.woff2") format("woff2"),
    url("/fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --white: #fff;
  --accent-color: #c7476c;
  --light-grey: #f1f1f1e5;
  --dark-grey: #3b3b3b;
}

h1 {
  font-family: "norsebold", sans-serif;
}

body {
  font-family: "Lucida Sans", Verdana, sans-serif;
}

.login-page-container {
  display: flex;
}

.login-page-background-img {
  background-image: url(/images/sign-up-form-bg-compressed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100vh;
  justify-content: space-between;
}

.logo-background {
  padding: 18px 0;
  height: 146px;
  display: flex;
  justify-content: center;
}

.background-tint {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}

.logo-icon-and-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1.odin-text {
  color: var(--white);
  font-size: 5rem;
  font-weight: 400;
}

#photo-credits {
  text-align: center;
  margin-bottom: 36px;
  padding: 18px 0;
  color: var(--white);
}

#photo-credits a {
  color: var(--white);
}

#photo-credits a:hover {
  text-decoration-color: var(--accent-color);
}

.main-login-section {
  width: 70%;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login-page-background-img,
.main-login-section {
  padding: 140px 0 0 0;
}

.login-intro-text {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0 0 38px 44px;
  width: 840px;
}

.login-form-fields,
.form-submit-and-login-link {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.login-form-fields {
  background-color: var(--white);
  padding: 18px 96px 0 44px;
}

.form-submit-and-login-link {
  padding: 38px 96px 18px 44px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.form-col input[type="text"],
.form-col input[type="tel"],
.form-col input[type="email"],
.form-col input[type="password"] {
  width: 300px;
  margin: 8px 0 28px;
  padding: 8px;
  border: 1px solid rgb(167, 167, 167, 0.3);
  border-radius: 3px;
}

.form-col input[type="text"]:focus,
.form-col input[type="tel"]:focus,
.form-col input[type="email"]:focus,
.form-col input[type="password"]:focus {
  border-color: blue;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form-col input[type="text"]:required,
.form-col input[type="tel"]:required,
.form-col input[type="email"]:required,
.form-col input[type="password"]:required {
  border: 2px solid rgb(195, 48, 48);
}

.form-col input[type="text"]:valid,
.form-col input[type="tel"]:valid,
.form-col input[type="email"]:valid,
.form-col input[type="password"]:valid {
  border: 2px solid rgb(124, 210, 91);
}

.form-col label {
  text-transform: uppercase;
  color: var(--dark-grey);
  font-weight: 600;
}

button[type="submit"] {
  padding: 14px 56px;
  border: none;
  border-radius: 6px;
  background-color: var(--accent-color);
  color: var(--white);
  font-size: 1.1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--dark-grey);
}

#odin-logo {
  width: 80px;
  height: auto;
}

#log-in-link {
  color: var(--accent-color);
}

#log-in-link:hover {
  text-decoration-color: var(--dark-grey);
}
